# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# build folders
build/
dist/

# coverage
coverage/

# temporary files
.tmp/
tmp/
temp/

# cache
.pnpm-store/
.yarn/
.npm/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
.docker/
